/*
 *
 * Global Desktop Stylesheet Changes
 *
 */

@media only screen and (min-width: 1024px) {

    
    .charactersList > div {
    
        margin: auto;
        width: 25%;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
      }

    
      .break {
        flex-basis: 100%;
        height: 0;
      }

    body {

        font-size: 4px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
    
    }

    .charactersList {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        cursor: pointer;
        
    }

    .characterCard {

        min-height: 500px;
        text-align: left;
        color: black;
        width: 20%;
        position: relative;
        border: none;

    }

    .characterCard:hover {

        background-color: #dedede;
        transition: background-color 0.7s ease-out;

    }
    

    .characterIcon {

        float: left;
        width: 100%;
        height: auto;
    
    }

    .region-img {

        width: 70%;
    
    }

    .chr-name {

        padding-top: 20px;
        font-size: 20px;
        
        
    }
    
    .chr-bio {
    
        text-indent: 2em;
        line-height: 20px;
        font-size: 14px;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    
    }

    h2 {

        font-size: 22px;
        padding: 50px 25px;
    
    }

    h3 {

        font-size: 20px;

    }

    .pg {

        font-size: 14px;
        padding: 30px 15%;
        text-indent: 2em;
    
    }

    .card1 {
        display: block;
        min-height: 500px;
        padding: 50px;
        background-color: black;
        color: white;
    }
    
    .card2 {
        display: block;
        min-height: 500px;
        padding: 25px;
        background-color: #dedede;
        color: black;
    }

    #top-bar {

        background-color: black;
        font-size: 30px;
        text-align: left;
        height: 100px;
        position: relative;
    
    
     }
    
     .logo {
    
        height: 50px;
        display: inline;
        position: absolute;
        top: 25%;
        left: 25px;
    
    }
    
    .logo-txt {
    
        display: inline;
        padding: 10px 0px;
        margin: 0;
        font-size: 20px;
        top: 25%;
        left: 110px;
        position: absolute;
    
    }

    .openBtn {

        display: none;
    
     }

    .desktop-nav-bar {

        display: inline;
        height: 100px;
        position: absolute;
        right: 0;
        top: -5%;

    }

    .desktop-nav-bar-item {

        display: inline-block;
        padding-left: 50px;
        padding-right: 100px;

    }

    .desktop-nav-bar-item a {

        text-decoration: none;
        color: white;
        font-size: 0.5em;

    }

    .container {

        height:  600px;
        overflow: hidden;
        margin: auto;
        justify-content: center;
        display: flex;

    }

    .banner {

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 40%;

    }

    .img-txt-center {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    
    }

    .slider-container {

        width: 50%;
        display: block;
        margin: 0 auto;

    }

/*
*
* Desktop Footer Style
*
*/

#footer {

    font-size: 15px;

}    

}

