/*
 *
 * Global Desktop Stylesheet Changes
 *
 */

@media only screen and (min-width: 992px) {

    body {

        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
    
    }

    .charactersList {

        padding-left: 25%;
        padding-bottom: 100px;
        
    }

    .characterCard {

        display: inline-table;
        min-height: 900px;
        color: black;
        width: 25%;
        border: 1px solid black;

    }

    .characterIcon {

        float: left;
        height: 400px;
    
    }

    .region-img {

        width: 70%;
    
    }

    .chr-name {

        padding-top: 40px;
        font-size: 25px;
        
        
    }
    
    .chr-bio {
    
        text-indent: 4em;
        font-size: 15px;
    
    }

    h2 {

        font-size: 30px;
        padding: 50px 25px;
    
    }

    .pg {

        font-size: 18px;
        padding: 30px;
        text-indent: 2em;
    
    }

    .card1 {
        display: block;
        min-height: 500px;
        padding: 50px;
        background-color: black;
        color: white;
    }
    
    .card2 {
        display: block;
        min-height: 500px;
        padding: 25px;
        background-color: #dedede;
        color: black;
    }

    #top-bar {

        background-color: black;
        font-size: 40px;
        text-align: left;
        height: 100px;
        position: relative;
    
    
     }
    
     .logo {
    
        height: 50px;
        display: inline;
        position: absolute;
        top: 25%;
        left: 25px;
    
    }
    
    .logo-txt {
    
        display: inline;
        padding: 10px 0px;
        margin: 0;
        top: 10%;
        left: 100px;
        position: absolute;
    
    }

    .openBtn {

        display: none;
    
     }

    .desktop-nav-bar {

        display: inline;
        height: 100px;
        position: absolute;
        right: 0;
        top: -25%;

    }

    .desktop-nav-bar-item {

        display: inline-block;
        padding-left: 50px;
        padding-right: 100px;

    }

    .desktop-nav-bar-item a {

        text-decoration: none;
        color: white;
        font-size: 0.5em;

    }

    .container {

        height:  600px;
        overflow: hidden;
        margin: auto;
        justify-content: center;
        display: flex;

    }

    .banner {

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 40%;

    }

    .img-txt-center {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
    
    }

    .slider-container {

        width: 50%;
        display: block;
        margin: 0 auto;

    }

/*
*
* Desktop Footer Style
*
*/

#footer {

    font-size: 20px;

}    

}

