/*
 *
 * Main CSS File for KrakenCraft
 *
 * Website Designed by Atlas Web Design
 *
 * All Styling Rules are written mobile-first.
 * Search for "Desktop Styles" or "Tablet Styles"
 * for those respective breakpoints.
 *
 */

/*
 *
 * General Styles
 *
 */

body {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/*
 *
 * Header Styles
 *
 */

header {

    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

#logo {

    height: 80px;
    margin: 15px;

}

.fa {



}

@keyframes scroll-cue-animation {

    from {top: 60%;}
    to {top: 100%;}
    
}

.fa-chevron-down {

    font-size: 25px;
    color: white;

}

/*
 *
 * Section Styles
 *
 */

main {

    flex: 1;

}

/*
 *
 * Banner Styles
 *
 */

#banner {

    width: 100vw;
    height: 90vh;

}

#banner-bg {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

#banner-txt {

    height: 0%;
    overflow: visible;

}

#banner-txt h1 {

    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0%);
    text-align: center;

}

#banner-txt h2 {

    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 53%;
    transform: translate(-50%, 0%);
    text-align: center;

}

.scroll-cue {

    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    animation-name: scroll-cue-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

/*
 *
 * Footer Styles
 *
 */

footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px;

}

#copyright-disclaimer {

    padding-top: 25px;

}
