@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/*
 *
 * Global Styling
 *
 */

body {

    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: 0px;

}

.container {

    position: relative;
    text-align: center;
    width: 100%;
    padding: 0;

}

.banner-arrow, .banner-arrow:before {

    position: absolute;
    left: 50%;

}

.banner-arrow {
  width: 40px;
  height: 40px;
  top: 60%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
  
.banner-arrow:before {
  content: '';
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    transform: translate(-10px, -10px);
    }
}

.page_banner {

    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-image:url("../images/gamemode_ss/kns/kns_1.png");

}

#msg-in-queue {

    height: 50px;
    color: red;
    margin: 50px;

}

#editor {

    margin-top: 50px;
    padding: 50px;
    text-indent: 0px;
    width: 100%;
    min-height: 100vh;

}

#clear_Q {
    position:absolute;
    right:0;
}

.card {

    background-color: white;
    color: black;
    margin: 50px;
    border-radius: 5px;

}


.img-txt-center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: black;

}

.region-section {

    min-height: 100vh;
    padding: 30px 0px;
    overflow: hidden;
    

}

.region-section:nth-child(odd) {

    background-color: black;
    color:white;

}

.region-section:nth-child(even) {

    background-color: white;
    color: black;

}

.region-section .pg {

    padding: 15px 50px;
    

}

.content-text {

    text-indent: 2em;
    padding: 50px 25px;
    font-size: 20px;

}

.content-img:nth-child(even) {

    order: 3;

}

.profile-img {

    width:100%;
    padding:25px;

}

.profile-avatar {

    width:100%;

}

.float-left {

    float:left;

}

.float-right {

    float:right;

}


/*
 *
 * Header and Navigation Styling
 *
 */


.info-bar {

    width: 100%;
    min-height: 100px;
    padding: 50px;
    background-color: #000;
    color: white;

}

.ip-info {

    display: block;
    left: 0;
    position: relative;

}

.online-info {

    display: block;
    right: 0;
    position: relative;

}

 #top-bar {

    background-color: black;
    font-size: 25px;
    text-align: left;
    height: 130px;
    position: relative;


 }

 .link {

    color: white;
    display: block;
    text-align: center;
    font-size: 20px;

 }

 .desktop-nav {

    display: none;

 }

 .logo {

    height: 75px;
    display: inline;
    position: absolute;
    top: 25%;
    left: 25px;

}

.login {

    display: none;

}

.logo-txt {

    display: inline;
    padding: 50px 0px;
    margin: 0;
    top: 2%;
    left: 150px;
    position: absolute;

}

 .openBtn {

    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 0;

 }

 .overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.25s; /* 0.5 second transition effect */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closeBtn {
    position: absolute;
    top: -59px;
    right: -35px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/*
 *
 * Content Styling
 *
 */

 .font-dark {

    color: black;

 }

 .quote {

    font-size: 20px;
    padding: 50px 10px;
    width: 70%;
    margin: auto;
    font-family: serif;
    font-style: italic;
    font-weight: bold;

 }

 .citation {

    color: rgb(83, 83, 83);
    font-style:normal;
    float: right;
    padding: 5px;

 }

.pg {

    font-size: 20px;
    padding: 75px 10px 10px 10px;
    text-indent: 2em;

}

h1 {

    font-size: 33px;
    padding: 50px 75px;
    text-align: center;
    color: black;

}

h2 {

    font-size: 25px;
    text-align: center;
    padding: 25px 75px;

}

h3 {

    text-align: center;
    font-size: 30px;

}

.banner {

    display: block;
    width: 100%;
    
}

.charactersList {

    display: table;
    text-align: center;
    padding-bottom: 100px;
    
}

.characterCard {

    display: block;
    padding: 50px;
    min-height: 700px;
    color: black;
    width: 100%;
    border-bottom: 1px solid black;

}

.newPlayer {

    min-height: 500px;

}

.characterIcon {

    float: left;
    height: 400px;

}

.region-img {

    width: 100%;
    margin: auto;
    padding: 20px;

}

.chr-name {

    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    
    
}

.dividing-line {

    display: none;

}


.chr-bio {

    padding-top: 15px;
    text-indent: 1em;
    font-size: 15px;

}

.chr-player {

    padding: 20px;
    text-align: center;
    font-size: 15px;
    
}

.fa-angle-left, .fa-angle-right {

    position: absolute;
    top: 50%;

}

/*
 *
 * Footer Styling
 *
 */

 #footer {

    position: absolute;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;

 }
